$text-color: #333333;
$font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .navbar-container {
    height: 10%;
  }

  .mentor-table {
    display: flex;
    justify-content: center;

    .mentorTitle,
    .mentorName {
      padding: 0 10px 0 10px;
      text-align: center;
    }
  }

  .wrapper {
    max-width: 93%;
    overflow-x: auto;

    .taskname {
      text-align: left;
    }
  }

  .description-table {
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    .description-table__cell {
      text-align: left;
      padding: 0 10px 0 10px;
    }
  }

  .Checked {
    background-color: #26f17b;
  }

  .Checking {
    background-color: #e69318;
  }

  .InProgress {
    background-color: #e3f126;
  }

  .ToDo {
    background-color: #bbbaba;
  }

  .failed {
    background-color: #f12626;
  }

  .statistics {
    background-color: #db59fc;
  }

  .dismissed {
    opacity: 0.4;
  }

.tooltip {
  font-family: $font;
  color: $text-color;
  background-color: #59b3fc;
  border: none;
  text-decoration: none;
}

  @media screen and (min-width: 1200px) {
    * {
      font-size: 1.2rem;
    }

    .navbar-container {
      width: 80%;

      .react-select-container {
        width: 50%;

        .react-select__single-value {
          font-size: 1.2rem;
        }
      }
    }

    .mentorTitle,
    .mentorName {
      font-size: 1.8rem;
    }

    .wrapper {
      margin-top: 5%;
    }

    .description-table {
      margin-top: 5%;
    }

    .cell {
      min-width: 100px;
      text-align: center;
      font-size: 1.2rem;
    }

    td {
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 1199px) and (min-width: 600px) {
    * {
      font-size: 1rem;
    }

    .navbar-container {
      width: 80%;

      .react-select-container {
        margin-left: 5%;
        width: 60%;

        .react-select__single-value {
          font-size: 1rem;
        }
      }
    }

    .mentorTitle,
    .mentorName {
      font-size: 1.4rem;
    }

    .wrapper {
      margin-top: 5%;
    }

    .description-table {
      margin-top: 5%;
    }

    .cell {
      min-width: 80px;
      font-size: 1rem;
      text-align: center;
    }

    td {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 599px) and (min-width: 300px) {
    * {
      font-size: 0.9rem;
    }

    .navbar-container {
      width: 90%;

      .react-select-container {
        margin-left: 5%;
        width: 50%;

        .react-select__single-value {
          font-size: 0.9rem;
        }
      }
    }

    .mentorTitle,
    .mentorName {
      font-size: 1.3rem;
    }

    .description-table {
      margin-top: 10%;
    }

    .cell {
      min-width: 60px;
      text-align: center;
      font-size: 0.9rem;
    }

    td {
      font-size: 0.8rem;
    }

    .wrapper {
      margin-top: 10%;
    }
  }

  .cell {
    padding: 0 4px 0 4px;
    border: solid 2px #fff;
    font-weight: normal;
    min-width: 100px;
  }

  .studentName {
    padding: 0 5px 0 5px;
    height: 30px;
    background-color: #59b3fc;
  }

  th {
    font-family: $font;
  }

  th:last-child {
    padding: 0 10px 0 10px;
  }

  tr {
    height: 30px;

    td {
      height: 30px;
      padding: 0 10px 0 10px;
      border: solid 2px #fff;
      text-align: center;
      font-family: $font;
    }

    td:last-child {
      padding: 0 10px 0 10px;
    }
  }

  .link {
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: $text-color;
  }
}
