.App {
  text-align: left;
  position: relative;
  margin: 0 auto;

  .Checked {
    background-color: #26f17b;
  }

  .Checking {
    background-color: #e69318;
  }

  .InProgress {
    background-color: #e3f126;
  }

  .ToDo {
    background-color: #bbbaba;
  }

  .failed {
    background-color: #f12626;
  }

  @media screen and (min-width: 1200px) {
    * {
      font-size: 1.3rem;
    }

    .wrapper {
      left: 50%;
      transform: translate(-50%, 0);
      min-width: 1250px;
      position: absolute;
      top: 140px;
    }

    .mentor-table {
      position: absolute;
      top: 80px;
      text-align: center;
      left: 50%;
      transform: translate(-50%, 0);
    }

    .mentorTitle,
    .mentorName {
      min-width: 300px;
      font-weight: bold;
      font-size: 1.3em;
    }

    .description-table {
      position: absolute;
      top: 520px;
      left: 50%;
      transform: translate(-50%, 0);

      .description-table__cell {
        min-width: 180px;
        padding-left: 10px;
      }
    }

    .css-10nd86i {
      position: absolute;
      top: 30px;
      left: 20%;
      width: 60%;
    }

    .cell {
      min-width: 100px;
      text-align: center;
    }
  }

  @media screen and (max-width: 1199px) and (min-width: 600px) {
    * {
      font-size: 0.9rem;
    }

    .mentor-table {
      position: absolute;
      top: 80px;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
    }

    .mentorTitle,
    .mentorName {
      min-width: 300px;
      font-weight: bold;
      font-size: 1.3em;
    }

    .wrapper {
      left: 50%;
      transform: translate(-50%, 0);
      width: 600px;
      overflow-x: auto;
      table-layout: fixed;
      position: absolute;
      top: 140px;
    }

    .description-table {
      position: absolute;
      top: 550px;
      left: 50%;
      transform: translate(-50%, 0);

      .description-table__cell {
        min-width: 150px;
        padding-left: 10px;
      }
    }

    .css-10nd86i {
      position: absolute;
      top: 30px;
      left: 10%;
      width: 80%;
    }

    .cell {
      min-width: 100px;
      text-align: center;
    }
  }

  @media screen and (max-width: 599px) and (min-width: 300px) {
    .mentor-table {
      left: 50%;
      transform: translate(-50%, 0);
      position: absolute;
      top: 80px;
      max-width: 300px;
      text-align: center;
    }

    .wrapper {
      left: 50%;
      transform: translate(-50%, 0);
      margin-right: -50%;
      width: 300px;
      overflow-x: auto;
      table-layout: fixed;
      position: absolute;
      top: 140px;
    }

    .mentorTitle,
    .mentorName {
      min-width: 40%;
      font-weight: bold;
      font-size: 1.3em;
    }

    .css-10nd86i {
      position: absolute;
      top: 30px;
      left: 10%;
      width: 80%;
    }

    .description-table {
      left: 50%;
      transform: translate(-50%, 0);
      position: absolute;
      top: 500px;

      .description-table__cell {
        min-width: 100px;
        padding-left: 10px;
      }
    }

    .cell {
      text-align: center;
      font-size: 0.5rem;
      word-wrap: break-word;
    }

    * {
      font-size: 0.8rem;
    }
  }

  .statistics {
    background-color: #db59fc;
  }

  .studentName {
    background-color: #59b3fc;
  }

  td {
    min-height: 25px;
  }

  .link {
    display: block;
    min-width: 90px;
    min-height: 17px;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
    color: black;
  }
}
